@font-face {
    font-family: 'Poppins';
    src:
        local('Poppins'),
        url(./assets/fonts/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Bold';
    src:
        local('Poppins Bold'),
        url(./assets/fonts/Poppins-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Semi Bold';
    src:
        local('Poppins Semi Bold'),
        url(./assets/fonts/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Light';
    src:
        local('Poppins Light'),
        url(./assets/fonts/Poppins-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins Thin';
    src:
        local('Poppins Thin'),
        url(./assets/fonts/Poppins-Thin.ttf) format('truetype');
}

@font-face {
    font-family: 'Jetbrains Mono';
    src:
        local('Jetbrains Mono'),
        url(./assets/fonts/JetBrainsMono-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Jetbrains Mono Medium';
    src:
        local('Jetbrains Mono Medium'),
        url(./assets/fonts/JetBrainsMono-Medium.ttf) format('truetype');
}
